<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>ember-validated-form-buffer</h1>
      </div>

      {{outlet}}
    </div>
  </div>
</div>