<form {{action 'submitForm' on='submit'}}>
  {{input value=data.name}}
  <button type="submit">Submit</button>
  <h3>Errors</h3>
  {{#if data.displayErrors}}
    <ul>
      {{#each data.displayErrors as |error|}}
        {{error}}
      {{/each}}
    </ul>
  {{/if}}
</form>
