<form {{action 'submitForm' on='submit'}}>
  {{input value=data.name}}
  <button type="submit">Submit</button>
  <h3>Errors</h3>
  <ul>
    {{#each-key object=data.displayErrors as |attribute errors|}}
      <strong>{{attribute}}</strong>
      <ul>
        {{#each errors as |error|}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
    {{/each-key}}
  </ul>
</form>
